
@import "../css/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,900;1,300;1,400;1,500;1,600;1,900&display=swap');
@import "../css/grid.css";
@import "../css/elements.css";
@import "../css/modal.css";
@import "../css/responsive.css";

/* Default CSS */
* { font-family: 'Montserrat', sans-serif; }
a{text-decoration: none;}
.dfPadding{padding: 0 15px;}
.lockedBody{overflow: hidden;}
/* Default CSS */
