
@import "../css/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,900;1,300;1,400;1,500;1,600;1,900&display=swap');
@import "../css/grid.css";
@import "../css/elements.css";
@import "../css/modal.css";
@import "../css/responsive.css";

/* ROOT CSS */
:root {
  --btn-primary-border-color: #db0962;
  --btn-primary-background-color: #DB0962;
  --btn-border-radius: 4px;
  --btn-font-size: 15px;
  --text-pink: #DB0962;
  --default-font: 'Montserrat', sans-serif;
  --text-soft-black : #5F5F5F;
  --text-form-black : #1A1A1A;
}
/* ROOT CSS */

/* Default CSS */
* { font-family: var(--default-font) }
a{text-decoration: none;}
.dfPadding{padding: 0 15px;}
.lockedBody{overflow: hidden;}
/* Default CSS */
